---
layout: archive
---

{{ content }}

<div align="left" class="entries-{{ page.entries_layout }}">
  {% include documents-collection.html collection=page.collection sort_by=page.sort_by sort_order=page.sort_order type=page.entries_layout %}

</div>

<br> </br>
<br> </br>


Recent Posts


<div align="left" class="entries-{{ page.entries_layout2 }}">
  {% include documents-collection.html collection=page.collection2 sort_by=page.sort_by sort_order=page.sort_order type=page.entries_layout2 %}
</div>
